<div id="frame">
  <div id="win">
    <p>You win a free coffee!</p>
  </div>
  <div class="casino">

    <div class="slot">
      <div id="movable1">
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
        <img src="img/orange.png"/>
        <img src="img/sand.png"/>
        <img src="img/bagel.png"/>
        <img src="img/water.png"/>
        <!-- We need to copy the first image here-->
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
      </div>
    </div>

    <div class="slot">
      <div id="movable2">
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
        <img src="img/orange.png"/>
        <img src="img/sand.png"/>
        <img src="img/bagel.png"/>
        <img src="img/water.png"/>
        <!-- We need to copy the first image here-->
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
      </div>
    </div>

    <div class="slot">
      <div id="movable3">
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
        <img src="img/orange.png"/>
        <img src="img/sand.png"/>
        <img src="img/bagel.png"/>
        <img src="img/water.png"/>
        <!-- We need to copy the first image here-->
        <img src="img/americano.png"/>
        <img src="img/capu.png"/>
      </div>
    </div>

  </div>
</div>

<script src="jquery-2.0.0.min.js" type="text/javascript"></script>
<script type='text/javascript' >
        window.glob = <%= @nb_items %>;
</script>
<script src="casino.js" type="text/javascript"></script>
