#win {
    width: 495px;
    height: 295px;
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 48px;
    background: rgba(1,1,1,0.5);
    z-index: 1;
    display: none;
}

#win p {
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
    width: 200px;
    height: 100px;
    font-family: "Lobster", cursive, Helvetica, sans-serif;
    font-size: 40px;
    color: #ffffff;
    padding: 50px;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#00b1f3),
        to(#00a7e9));
    border-radius: 10px;
    border: 1px solid #004789;
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}

#frame {
    background-image: url('../img/frame.jpg');
    width: 800px;
    margin: 0 auto;
    height: 800px;
    position: relative;
}

#frame:active {
    background-image: url('../img/frame_down.jpg');
}

.casino {
    width: 495px;
    height: 289px;
    position: absolute;
    top: 100px;
    left: 150px;
    overflow: hidden;
    border: 3px solid black;
}

.slot {
    height: 100%;
    display: inline-block;
    width: 33%;
    margin-right: -2px; /*wat*/
}

[id*='movable'] {
    position: relative;
    top: -100px;
}

[id*='movable'] img {
    height: 150px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
